@font-face {
	font-family: "苹方黑体";
	/* src: url("./PingFang.ttf"); */
	src: url("./苹方黑体-准-简.ttf");
}

@font-face {
	font-family: "HiraginoSansGB";
	/* src: url("./PingFang.ttf"); */
	src: url("./__HiraginoSansGB-W3.ttf");
}